.menu-button {	
	display:inline-block;
	cursor:pointer;
	color:$button-text-color;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px $button-text-color;
    background: url(http://th07.deviantart.net/fs70/150/i/2013/012/c/6/rock_01_png___by_alzstock-d5r84up.png) no-repeat;
    background-size: 100% 100%; 
}
